@media (max-width: 768px) {
    nav {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 564px) {
    .image {
        width: 12em;
    }

    .image img {
        width: 1.5em;
    }

    .name-comment .foto {
        width: 6em;
        height: 6em;
    }

    form {
        width: 15em;
        height: 15em;
    }
    
    form input {
        width: 9em;
        height: 1.2em;
    }
    
    form textarea {
        width: 9em;
        height: 3em;
    }
    
    .box-button {
        width: 2em;
        height: 2em;
    }
    
    form button {
        width: 1em;
        height: 1.5em;
        margin: 0.3em 0.2em 0.2em;
        border-width: 0 0.5em 0.3em 0;
    }
}
